table {
    width:100%;
    border-collapse: collapse;
}


td, th {
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
}

th {
    background-color: #bbb;
}

.bg-red {
    background-color: #c4302b;
}

.bg-yellow {
    background-color: #e9d604;
}