.view-etapa {
    background-color: #fff;
    padding: 10px;
    margin-top:20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
}

.botoes-etapa {
    display: flex;
    align-items: center;
}

.botoes-etapa img {
   margin-left: 10px;
   cursor: pointer;
}