.nome-header {
    font-size: 1.3vw;
    margin-left:10px;
}

.titulo-header {
    font-size: 1.4vw;
}

@media (max-width: 900px) {
    .nome-header {
        font-size: 1.6vw;
    }
    .titulo-header {
        font-size: 1.6vw;
    }
}

@media (max-width: 700px) {
    .nome-header {
        font-size: 2.0vw;
    }
    .titulo-header {
        font-size: 1.8vw;
    }
}

@media (max-width: 550px) {
    .nome-header {
        font-size: 2.5vw;
    }

    .card-header {
        min-height: 30px;
    }


    .titulo-header {
        font-size: 2.4vw;
    }

    .horas {
        font-size: 1.9vw !important;
    }
    .comissionado {
        font-size: 2.1vw;
    }
}

@media (max-width:400px) {
    .card-header {
        min-height: 20px;
    }
}

.card-header {
    margin-left:10px;
    margin-right:10px;
    margin-bottom:20px;
    background-color: #191c24;
    flex:1;
    padding:10px;
    border-radius: 5px !important;
    color:#fff;
    min-height:50px;
    flex-direction: column;
    
}

.bottom-card {
    display: flex;
    align-items: center;
}

.item-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-model {
    display: flex;
    justify-content: flex-start !important;
}


@media (max-width:600px) {
    .card-header {
        margin-left:5px;
        margin-right:5px;
        margin-bottom:5px;
        min-height:60px;
        padding:5px;
        justify-content: flex-start;
    }
    .div-nome-card {
        margin-left:5px;
    }

}

@media (max-width:500px) {
    .card-header { 
    margin-left:2px;
    margin-right:2px;
    margin-bottom:5px;
    padding:3px;
    }
}

.vertical-bar {
    width: 2px;
    background-color: rgb(129, 128, 128);
    margin-right: 20px;
}

.teste  {
    align-self: center;
    margin-right: 20px;
}